Update obsolete Unicode license in `NCollection_UtfIterator.lxx`

### Description

`src/FoundationClasses/TKernel/NCollection/NCollection_UtfIterator.lxx` contains an old Unicode, Inc. license notice dating from 2001–2004:

> Unicode, Inc. hereby grants the right to freely use the information supplied in this file in the creation of products supporting the Unicode Standard...

This is the old Unicode license which is considered non-free by Debian. Lintian detects it with the [license-problem-old-unicode](https://lintian.debian.org/tags/license-problem-old-unicode.html) tag.
See also Debian [bug #854209](https://bugs.debian.org/854209).

 Unicode subsequently relicensed the `ConvertUTF` code under a permissive license. Other projects have updated old copies of this code; e.g [Google Breakpad change](https://github.com/google/breakpad/commit/14bbefbd9600e08d6a34d7250faa8bc9dba2113e) and the corresponding [LLVM licensing discussion](https://reviews.llvm.org/D66390)].

The code in `NCollection_UtfIterator.lxx` appears to contain portions derived from Unicode's `ConvertUTF` implementation, notably the UTF-8 conversion tables and conversion algorithm.

There is also a practical licensing issue here. The old Unicode terms do not grant the right to modify the code and restrict its use to products supporting the Unicode Standard. Debian therefore considers the old license non-free; see the analysis in [Debian #854209](https://bugs.debian.org/854209)]. These restrictions might also be incompatible with OCTT's LGPL licensing.

Could the license/copyright header of `NCollection_UtfIterator.lxx` therefore be updated to reflect the current licensing of the Unicode-derived code?

Thanks!

[New Unicode License](https://www.unicode.org/license.txt) is considered (DFSG) free and compatible with LGPL.

Cheers,
tobi

### Expected Behavior

n/a

### Actual Behavior

n/a

### Sample Code or DRAW Tcl Script

n/a

### Operating System

Linux

### Compiler

GCC

### Bitness

64-bit

### OCCT Version

latest

### Additional Files

_No response_

Thank you for the report.

For OCCT 8.0.2, we plan to update the license header to reflect the applicable Unicode license.
For OCCT 8.1.0, we plan to replace the current implementation with an independent OCCT implementation, since NCollection requires only a limited set of UTF conversion operations.

The new implementation will be based solely on the UTF encoding rules specified in RFC 3629, Sections 3-4, for UTF-8, and RFC 2781, Section 2, for UTF-16, without using third-party UTF conversion implementations as a reference.
